@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/inter/v4/UcCjoChc6WW2-XeWpBWQ5YEJW5Q3pTYrmZyveLwkRzg.woff2') format('woff2');
  }
